pip install tweepy, 
pip install emoji,
pip install openpyxl,
pip install nltk

In [159]:
import os
import configparser
import tweepy as tw
import pandas as pd
import re
import emoji
import nltk
import openpyxl

In [160]:
nltk.download('words')
words = set(nltk.corpus.words.words())

[nltk_data] Downloading package words to /home/jovyan/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [161]:
#Reading the data file
df = pd.read_csv('Twitter Stream Data - TweetStream.csv', nrows = 5000)
print(df.shape)
df.head()

(5000, 7)

,Tweet ID,User ID,Tweet Text,Username,User Handle,User Location,User Bio
0,1.471387e+18,3.436262e+08,Marcus Aurelius gave a decree üìú that nobody ca...,Mar√≠o,falconfiend2,USA,#TrueToAtlanta...ATL Braves 21 üèÜ ATLUTD‚≠êÔ∏è ...2...
1,1.471387e+18,1.184615e+18,I wanna hold them üôã‚Äç‚ôÇÔ∏èüòçüòçüòç,Michael (true name: Clay Cowan),mikeythedarklo1,"Cleveland, OH","I'm a nerdy guy who loves art, music, wrestlin..."
2,1.471387e+18,1.285185e+18,@Wickedgoodguy @Myminimine @DanielTurnerPTF @H...,Russell Daniels,Russell97479980,NaN,Professionally employed as a machinist manufac...
3,1.471387e+18,9.530522e+17,Unsolved Mysteries: Do Any Republicans Know Wh...,N. Close,NClose13,NaN,"Wear a mask, understanding facts vs lies, be p..."
4,1.471387e+18,1.439624e+18,Listening to Wow. by Post Malone on @PandoraMu...,Nicole Tenaya Shivers,NicoleShivers22,Harrisburg Pa,No worries Lil Ms Sunshine cause I don't mess ...

In [162]:
df.columns

Index(['Tweet ID', 'User ID', 'Tweet Text', 'Username', 'User Handle',
       'User Location', 'User Bio'],
      dtype='object')

In [163]:
##Saving copy of original dataset
df_2 = df.copy()

In [164]:
# drop all those rows which 
# have any 'nan' value in it

df.dropna(inplace = True)

In [165]:
#dropping columns
df=df.drop(columns = ['Tweet ID', 'Tweet Text', 'Username', 'User Handle'])

In [166]:
df.columns

Index(['User ID', 'User Location', 'User Bio'], dtype='object')

In [167]:
##Renaming columns

columns_dict = {'User ID': 'user_id',
                'User Bio': 'user_bio',
                'User Location': 'user_location'
                }

df = df.rename(columns= columns_dict)
df.columns

Index(['user_id', 'user_location', 'user_bio'], dtype='object')

In [168]:
df

,user_id,user_location,user_bio
0,3.436262e+08,USA,#TrueToAtlanta...ATL Braves 21 üèÜ ATLUTD‚≠êÔ∏è ...2...
1,1.184615e+18,"Cleveland, OH","I'm a nerdy guy who loves art, music, wrestlin..."
4,1.439624e+18,Harrisburg Pa,No worries Lil Ms Sunshine cause I don't mess ...
5,3.169218e+09,"Houston, TX, USA, The Ghetto","Fuck yo feelings!\nFollow me please, I follow ..."
6,1.219720e+08,"Denver, CO",I am a huge sports and music fan. I graduated ...
...,...,...,...
4995,1.448733e+18,"Albuquerque, NM",Albuquerques Kanye mood swangs and all
4996,1.239159e+09,"Glendora, CA",Melissa üíû
4997,2.432869e+08,"Tucson, AZ",Enjoy the practical wisdom of daily life. Prom...
4998,1.213525e+18,"Toronto, ON","ENERGY HEALER. Insta: http://bit.ly/VIGOUROSO,..."
4999,2.159799e+09,Kansas City,glass half full

In [169]:
df.dtypes

user_id          float64
user_location     object
user_bio          object
dtype: object

In [170]:
df.to_csv('twitter_partial_cleaning.csv', index = False, encoding = 'utf-8')
df.to_excel('twitter_partial_cleaning.xlsx', index = False)